body {
  background: #bfbfbf;
}

canvas {
  background: #ffffff;

  /* 
    Esto solo cambia las dimensiones de presentación del elemento canvas, pero mantiene el tamaño con el que se construyo 
    <canvas id="the_canvas" width="800" height="600"></canvas>
  */
  width: 400px;
  height: 500px;
}